name: Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: Install FFmpeg
      run: brew install ffmpeg

    - name: Install dependencies
      run: |
        uv pip install --system -e .
        uv pip install --system pyinstaller

    - name: Build application
      run: uv run build --package

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: WaveScript-macOS
        path: build/WaveScript.dmg
        if-no-files-found: error

  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: Install FFmpeg
      run: choco install ffmpeg -y

    - name: Install dependencies
      run: |
        uv pip install --system -e .
        uv pip install --system pyinstaller

    - name: Build application
      run: uv run build --debug --package

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: WaveScript-Windows
        path: build/WaveScript-win.zip
        if-no-files-found: error
